body {
    height: 10vh;
    position: relative;
}

.background-text{
    width: 100%;
    background: #FFFFFF;
    color: #f2f1f0;
    font-size: 250px;
    text-align: center;
    margin: 0 auto;
}

.message {
    margin: 25vh auto;
    text-align: justify;
}

h1 {
    position: absolute;
    top: 10vh;
    left: 30vw;
    font-size: 36px;
    color: #82756A;
}

button {
    position: absolute;
    top: 25vh;
    left: 45vw;
    background: #82756A;
    color: #FFFFFF;
    font-size: 26px;
    padding: 10px 35px;
    border: none;
}